<div class="container" style="max-width:1300px;width:100%;position:relative;">
  <div class="ui divider"></div>
  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>
  
  <div class="row">
    <header class="col-12 col-lg-8 order-2 order-lg-1 align-self-center" id="category-container">
      <h1 class="ui header">
        {{category.name}}
        {{#if category.description}}
        <div class="sub header">{{category.description}}</div>
        {{/if}}
      </h1>
    </header>
    <aside class="col-12 col-lg-4 order-1 order-lg-1 align-self-center">
      {{search scoped=true submit=false}}
      <div class="ui divider d-lg-none d-xl-none"></div>
    </aside>
  </div>
  <div class="ui divider"></div>
  {{#if sections}}
  <section class="row">
    <div class="section col-12 col-md-6 col-lg-4">
      <img class="img-fluid mx-auto d-none" src="{{asset 'lacey-nutrition.png'}}" id="lacey-nutrition">
      <img class="img-fluid mx-auto d-none" src="{{asset 'lacey-instructions.png'}}" id="lacey-instructions">
      <img class="img-fluid mx-auto d-none" src="{{asset 'lacey-wholesale.png'}}" id="lacey-wholesale">
      <img class="img-fluid mx-auto d-none" src="{{asset 'lacey-orders.png'}}" id="lacey-orders">
      {{#each sections}}
      {{#is @index 0}}
      {{else}}
      {{#is @index 1}}
      {{else}}
      {{#is @index 3}}
      {{else}}
      {{#is @index 4}}
      {{else}}
      {{#is @index 6}}
      {{else}}
      {{#is @index 7}}
      {{else}}
      {{#is @index 9}}
      {{else}}
      {{#is @index 10}}
      {{else}}
      {{#is @index 12}}
      {{else}}
      {{#is @index 13}}
      {{else}}
      {{#is @index 15}}
      {{else}}
      {{#is @index 16}}
      {{else}}
      {{#is @index 18}}
      {{else}}
      {{#is @index 19}}
      {{else}}
      {{#is @index 21}}
      {{else}}
      {{#is @index 22}}
      {{else}}
      {{#is @index 24}}
      {{else}}
      {{#is @index 25}}
      {{else}}
      <div class="ui fluid vertical menu">
        <h3 class="header item">
          {{#if internal}}
          <i class="ui red lock icon" title="{{t 'internal'}}"></i>
          {{/if}}
          <a href="{{url}}" class="pink-text">{{name}}</a>
        </h3>
        {{#if articles}}
        {{#each articles}}
        <a class="item" href="{{url}}" class="article-list-link">
          {{#if promoted}}
          <i class="ui yellow star icon" data-title="{{t 'promoted'}}"></i>
          {{/if}}
          {{title}}
        </a>
        {{/each}}
        {{#if more_articles}}
        <a href="{{url}}" class="ui bottom attached pink button">
          {{t 'show_all_articles' count=article_count}}
        </a>
        {{/if}}
        {{else}}

        <a class="disabled item" href="{{url}}">
          This section is currently empty.
        </a>
        {{/if}}
      </div>
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/each}}
    </div>
    <div class="section col-12 col-md-6 col-lg-4">{{#each sections}}
      {{#is @index 1}}
      {{else}}
      {{#is @index 2}}
      {{else}}
      {{#is @index 4}}
      {{else}}
      {{#is @index 5}}
      {{else}}
      {{#is @index 7}}
      {{else}}
      {{#is @index 8}}
      {{else}}
      {{#is @index 10}}
      {{else}}
      {{#is @index 11}}
      {{else}}
      {{#is @index 13}}
      {{else}}
      {{#is @index 14}}
      {{else}}
      {{#is @index 16}}
      {{else}}
      {{#is @index 17}}
      {{else}}
      {{#is @index 19}}
      {{else}}
      {{#is @index 20}}
      {{else}}
      {{#is @index 22}}
      {{else}}
      {{#is @index 23}}
      {{else}}
      {{#is @index 25}}
      {{else}}
      {{#is @index 26}}
      {{else}}
      {{#is @index 28}}
      {{else}}
      {{#is @index 29}}
      {{else}}
      <div class="ui fluid vertical menu">
        <h3 class="header item">
          {{#if internal}}
          <i class="ui red lock icon" title="{{t 'internal'}}"></i>
          {{/if}}
          <a href="{{url}}" class="pink-text">{{name}}</a>
        </h3>
        {{#if articles}}
        {{#each articles}}
        <a class="item" href="{{url}}" class="article-list-link">
          {{#if promoted}}
          <i class="ui yellow star icon" data-title="{{t 'promoted'}}"></i>
          {{/if}}
          {{title}}
        </a>
        {{/each}}
        {{#if more_articles}}
        <a href="{{url}}" class="ui bottom attached pink button">
          {{t 'show_all_articles' count=article_count}}
        </a>
        {{/if}}
        {{else}}

        <a class="disabled item" href="{{url}}">
          This section is currently empty.
        </a>
        {{/if}}
      </div>
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/each}}
    </div>
    <div class="section col-12 col-md-6 col-lg-4">
      {{#each sections}}
      {{#is @index 0}}
      {{else}}
      {{#is @index 2}}
      {{else}}
      {{#is @index 3}}
      {{else}}
      {{#is @index 5}}
      {{else}}
      {{#is @index 6}}
      {{else}}
      {{#is @index 8}}
      {{else}}
      {{#is @index 9}}
      {{else}}
      {{#is @index 11}}
      {{else}}
      {{#is @index 12}}
      {{else}}
      {{#is @index 14}}
      {{else}}
      {{#is @index 15}}
      {{else}}
      {{#is @index 17}}
      {{else}}
      {{#is @index 18}}
      {{else}}
      {{#is @index 20}}
      {{else}}
      {{#is @index 21}}
      {{else}}
      {{#is @index 23}}
      {{else}}
      {{#is @index 24}}
      {{else}}
      {{#is @index 26}}
      {{else}}
      {{#is @index 27}}
      {{else}}
      <div class="ui fluid vertical menu">
        <h3 class="header item">
          {{#if internal}}
          <i class="ui red lock icon" title="{{t 'internal'}}"></i>
          {{/if}}
          <a href="{{url}}" class="pink-text">{{name}}</a>
        </h3>
        {{#if articles}}
        {{#each articles}}
        <a class="item" href="{{url}}" class="article-list-link">
          {{#if promoted}}
          <i class="ui yellow star icon" data-title="{{t 'promoted'}}"></i>
          {{/if}}
          {{title}}
        </a>
        {{/each}}
        {{#if more_articles}}
        <a href="{{url}}" class="ui bottom attached pink button">
          {{t 'show_all_articles' count=article_count}}
        </a>
        {{/if}}
        {{else}}

        <a class="disabled item" href="{{url}}">
          This section is currently empty.
        </a>
        {{/if}}
      </div>
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/is}}
      {{/each}}
    </div>
  </section>
  {{else}}
  <div class="ui large icon teal message mt-0">
    <i class="ui info icon"></i>
    <div class="content">
      <div class="header">
        This Category is Currently Empty
      </div>
      <p class="mt-0">Please check back soon as we continue to grow our knowledge base.</p>
    </div>
  </div>
  {{/if}}
  {{!-- <div class="back-wrapper">
    <div class="back">
      <a href="#" class="btn-back" onclick="window.history.back()">
        <div>
          <svg width="16px" height="14px" viewBox="0 0 16 14">
            <path d="M1,7 L15,7"></path>
            <polyline points="7 1 1 7 7 13"></polyline>
          </svg>
        </div>
        <span>Back</span>
      </a>
      <div class="menu-back">
        {{breadcrumbs}}

      </div>
    </div>
  </div> --}}
</div>

{{!-- <div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <div class="category-container">
    <div class="category-content">
      <header class="page-header">
        <h1>{{category.name}}</h1>
        {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
        {{/if}}
      </header>

      <div class="section-tree">
        {{#each sections}}
          <section class="section">
            <h3 class="section-tree-title">
              <a href="{{url}}">{{name}}</a>
            </h3>
            {{#if articles}}
              <ul class="article-list">
                {{#each articles}}
                  <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                    {{#if promoted}}
                      <span data-title="{{t 'promoted'}}" class="icon-star"></span>
                    {{/if}}
                    <a href="{{url}}" class="article-list-link">{{title}}</a>
                    {{#if internal}}
                      <span class="icon-lock" title="{{t 'internal'}}"></span>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
              {{#if more_articles}}
                <a href="{{url}}" class="see-all-articles">
                  {{t 'show_all_articles' count=article_count}}
                </a>
              {{/if}}
            {{/if}}
          </section>
        {{else}}
          <i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i>
        {{/each}}
      </div>
    </div>
  </div>
</div> --}}