{{!-- <footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer> --}}
<section id="section_request" class="my-5 py-5 container">
  <div class="ui large inverted segment border-0 rounded-lg-pill py-5 px-3 px-lg-5" style="background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);">
    <div class="row">
      <header class="col-12 col-lg-8 align-self-center text-center text-lg-left mb-5 mb-lg-0" id="category-container">
        <h2 class="fredoka text-white m-0">
          Can't Find Your Question?
        </h2>
        <p class="varela text-white m-0">
          Your unique questions help build our knowledge base.
        </p>
      </header>
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-4 offset-lg-0 align-self-center text-center">
        <a href="https://support.organicstart.com/hc/en-us/requests/new" class="varela ui large fluid button rounded-pill" title="Submit a Request" style="background:#fff!important;">Submit a Request</a>
      </div>
    </div>
  </div>
</section>
<section class="ui vertical segment border-0 my-5 py-5">
  <div class="container">
    <div class="ui accordion">
      <div class="active title">
        <i class="dropdown icon"></i>
        Disclaimer
      </div>
      <div class="active content">
        <p>Information found on this website or provided by the Organic Start Support Team has been obtained by Organic Start from sources believed to be reliable. The accuracy, completeness, timeliness or correct sequencing of information found on this website and provided by the Organic Start Support Team, however, is never guaranteed. Manufacturers may later change or update their ingredients and instructions. Do not soley rely on the information presented and always read labels, warnings and directions before using, consuming or feeding a product. Actual product packaging and materials may contain more and/or different information.<br><br>Statements regarding supplemental products have not been evaluated by the Food and Drug Administration and are not intended to diagnose, treat, cure, or prevent any disease or health condition. You should not use information on this website and provided by the Organic Start Support Team as self-diagnosis or for treating a health problem or disease. Content on this website or provided by the Organic Start Support Team is for reference purposes and is not intended to substitute for advice given by a physician, pharmacist, or other licensed health-care professional. Always contact your health-care provider immediately if you suspect that you or your baby has a medical problem. It always best to first consult with a pediatrician or certified health-care professional.<br><br>Organic Start, Inc. (OrganicStart.com) assumes no liability for inaccuracies or misstatements about products. Organic Start reserves the right to change any information, terms, conditions and policies at anytime without notice. Organic Start does not make any express or implied warranties (including, without limitation, any warranty or merchantability or fitness for a particular purpose or use) regarding information from this website or provided by the Organic Start Support Team. Organic Start, Inc. (OrganicStart.com) assumes no liability for interruption, inaccuracy, error or omission, regardless of cause, in information on this website or provided by the Organic Start Support Team or for any damages (whether direct or indirect, consequential, punitive or exemplary) resulting therefrom.</p>
      </div>
    </div>
  </div>
</section>

<footer id="footer-color">
  <section class="ui very padded basic inverted vertical site segment">
    <div class="container">
      <div class="row">
        <nav
          class="col-md-2 col-lg-2 col-12 text-center text-md-left ui vertical inverted text menu footer-menu mt-0 mb-0 pt-0 pb-0"
          data-section-type="footer-webPages">
          <div class="ui divider my-4"></div>
          <h4 class="text-white m-0">COMPANY</h4>
          <div class="ui divider my-4"></div>
          <a class="item" href="https://organicstart.com" target="_blank"
            aria-describedby="a11y-new-window-external-message" rel="noopener">Retail Store<br><small>1 - 3
              Days</small></a>
          <a class="item" href="https://organicstartwholesale.com" target="_blank" rel="noopener"
            aria-describedby="a11y-new-window-message">Wholesale Store<br><small>10 - 15 Business Days</small></a>
          <a class="item" href="https://blog.organicstart.com/" aria-describedby="a11y-external-message">Blog</a>
          <a class="item" href="https://support.organicstart.com" aria-describedby="a11y-external-message">Family
            Support<br><small>Information &amp; Contact</small></a>
          <a class="item" href="https://organicstart.com/about-us/" aria-describedby="a11y-external-message">About
            Us<br><small>Meet the Team</small></a>
          <a class="item" href="#">Biography<br><small>The Story Behind OS</small></a>
          <a class="item" href="https://organicstart.com/careers/" aria-describedby="a11y-external-message">Work With
            Us<br><small>Career Opportunities</small></a>
        </nav>
        <nav
          class="col-md-2 col-lg-2 col-12 text-center text-md-left ui vertical inverted text menu footer-menu mt-0 mb-0 pt-0 pb-0"
          data-section-type="footer-categories">
          <div class="ui divider my-4"></div>
          <h4 class="text-white m-0">RETAIL</h4>
          <div class="ui divider my-4"></div>
          <a class="item" href="https://organicstart.com/giftcertificates.php"
            aria-describedby="a11y-external-message">Gift Certificates</a>
          <a class="item" href="https://organicstart.com/baby-bank" aria-describedby="a11y-external-message">The Baby
            Bank<br><small>Loyalty Rewards Program</small></a>
          <a class="item" href="https://organicstart.com/multiples" aria-describedby="a11y-external-message">The More
            The Merrier<br><small>Multiples Discount</small></a>
          <a class="item" href="https://organicstart.com/affiliate-program/"
            aria-describedby="a11y-external-message">Starting Associates<br><small>Affiliates Program</small></a>
          <a class="item" href="https://organicstart.com/shipping-returns/"
            aria-describedby="a11y-external-message">Domestic Shipping<br><small>Deliveries &amp; Return
              Policy</small></a>
          <div class="ui divider my-4"></div>
          <h4 class="text-white m-0">RETAIL STORE</h4>
          <div class="ui divider my-4"></div>
          <a class="item" href="https://organicstart.com/hipp/" aria-describedby="a11y-external-message">HiPP</a>
          <a class="item" href="https://organicstart.com/holle/" aria-describedby="a11y-external-message">Holle</a>
          <a class="item" href="https://organicstart.com/lebenswert/"
            aria-describedby="a11y-external-message">Lebenswert</a>
          <a class="item" href="https://organicstart.com/topfer/" aria-describedby="a11y-external-message">Topfer</a>
          <a class="item" href="https://organicstart.com/goat-milk/" aria-describedby="a11y-external-message">Goat
            Milk</a>
          <a class="item" href="https://organicstart.com/cereals/" aria-describedby="a11y-external-message">Cereals</a>
          <a class="item" href="https://organicstart.com/snacks-teas/" aria-describedby="a11y-external-message">Snacks
            &amp; Teas</a>
          <a class="item" href="https://organicstart.com/juices/" aria-describedby="a11y-external-message">Juices</a>
          <a class="item" href="https://organicstart.com/baby-care/" aria-describedby="a11y-external-message">Baby
            Care</a>
          <a class="item" href="https://organicstart.com/clearance/"
            aria-describedby="a11y-external-message">Clearance</a>
        </nav>
        <nav
          class="col-md-2 col-lg-2 col-12 text-center text-md-left ui vertical inverted text menu footer-menu mt-0 mb-0 pt-0 pb-0"
          data-section-type="footer-webPages">
          <div class="ui divider my-4"></div>
          <h4 class="text-white m-0">WHOLESALE</h4>
          <div class="ui divider my-4"></div>
          <a class="item" href="https://organicstartwholesale.com/collections/gift-cards">Gift Cards</a>
          <a class="item" href="https://organicstartwholesale.com/pages/about-us">What is Wholesale<br><small>How we can
              save you 40%</small></a>
          <a class="item" href="#">Pull the Curtains<br><small>Behind-the-Scenes</small></a>
          <a class="item" href="https://organicstartwholesale.com/pages/shipping-returns/">International
            Shipping<br><small>Deliveries &amp; Return Policy</small></a>
          <div class="ui divider my-4"></div>
          <h4 class="text-white m-0">WHOLESALE STORE</h4>
          <div class="ui divider my-4"></div>
          <a class="item" href="https://organicstartwholesale.com/collections/holle">Holle Cow</a>
          <a class="item" href="https://organicstartwholesale.com/collections/holle-goat">Holle Goat</a>
          <a class="item" href="https://organicstartwholesale.com/collections/lebenswert">Lebenswert</a>
          <a class="item" href="https://organicstartwholesale.com/collections/hipp-germany">HiPP Germany</a>
          <a class="item" href="https://organicstartwholesale.com/collections/hipp-dutch">HiPP Dutch</a>
          <a class="item" href="https://organicstartwholesale.com/collections/hipp-u-k">HiPP UK</a>
          <a class="item" href="https://organicstartwholesale.com/collections/hipp-hypoallergenic">HiPP
            HA<br><small>(Hypoallergenic)</small></a>
          <a class="item" href="https://organicstartwholesale.com/collections/hipp-specialty">HiPP
            Specialty<br><small>Anti-Reflux &amp; Comfort</small></a>
          <a class="item" href="https://organicstartwholesale.com/collections/hipp-specialty">HiPP
            RTF<br><small>(Ready-to-Feed)</small></a>
          <a class="item" href="https://organicstartwholesale.com/collections/topfer">Topfer</a>
          <a class="item" href="https://organicstartwholesale.com/collections/nannycare">NannyCare</a>
        </nav>
        <nav
          class="col-md-2 col-lg-2 col-12 text-center text-md-left ui vertical inverted text menu footer-menu mt-0 mb-0 pt-0 pb-0"
          data-section-type="footer-webPages">
          <div class="ui divider my-4"></div>
          <h4 class="text-white m-0">RESOURCES</h4>
          <div class="ui divider my-4"></div>
          <a class="item" href="https://organicstart.com/comparison-table/"
            aria-describedby="a11y-external-message">Comparison Chart</a>
          <div class="ui divider my-4"></div>
          <h4 class="text-white m-0">FAMILY SUPPORT</h4>
          <div class="ui divider my-4"></div>
          <a class="item" href="https://support.organicstart.com/hc/en-us/categories/115000448613-Nutrition"
            aria-describedby="a11y-external-message">Nutrition</a>
          <a class="item" href="https://support.organicstart.com/hc/en-us/sections/115000941634-Common-Q-As"
            aria-describedby="a11y-external-message">Common Q&amp;As</a>
          <a class="item" href="https://support.organicstart.com/hc/en-us/categories/115000447534-Instructions"
            aria-describedby="a11y-external-message">Instructions</a>
          <a class="item" href="https://support.organicstart.com/hc/en-us/categories/115000448813-Orders"
            aria-describedby="a11y-external-message">Orders</a>
          <a class="item" href="https://support.organicstart.com/hc/en-us/categories/115000448633-Wholesale"
            aria-describedby="a11y-external-message">Wholesale</a>
          <a class="item" href="https://support.organicstart.com/hc/en-us/articles/360000114354"
            aria-describedby="a11y-external-message">Inventory</a>
          <a class="item" href="https://support.organicstart.com/hc/en-us/sections/360000011453-Loyalty-Points"
            aria-describedby="a11y-external-message">Loyalty Points</a>
          <a class="item" href="https://support.organicstart.com/hc/en-us/sections/360000011473-Gift-Certificates"
            aria-describedby="a11y-external-message">Gift Certificates</a>
          <a class="item" href="https://support.organicstart.com/hc/en-us/requests/new"
            aria-describedby="a11y-external-message">Tech Support</a>
          <a class="item" href="https://support.organicstart.com/hc/en-us/requests/new"
            aria-describedby="a11y-external-message">Submit a Request</a>
        </nav>
        <nav
          class="col-md-4 col-lg-4 col-12 text-center text-md-left ui vertical inverted text menu footer-menu mt-0 mb-0 pt-0 pb-0"
          data-section-type="footer-webPages">
          <div class="ui divider my-4"></div>
          <h4 class="text-white m-0">RECENT ARTICLES</h4>
          <div class="ui divider my-4"></div>
          <div id="recent-posts"></div>
        </nav>
      </div>
    </div>
  </section>

  <nav class="ui small borderless inverted menu rounded-0 m-0">
    <div class="container">
      <a class="item" href="https://organicstartwholesale.com/tos/">Terms of Service</a>
      <a class="item" href="https://organicstartwholesale.com/privacy-policy/">Privacy Policy</a>
      <a class="item" href="https://organicstartwholesale.com/disclaimer/">Disclaimer</a>
      <div class="right menu">
        <a class="cc disabled item" aria-describedby="a11y-external-message"> &#9400; Organic Start Inc.</a>
      </div>
    </div>
  </nav>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.1/jquery.timeago.min.js" integrity="sha384-2inFZ94qh1Esdr8qXMspFwIpFT1m9RAXWGgQCMgnRYAo7tDfOOip0uyue2LvfQ33" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha384-6urqf2sgCGDfIXcoxTUOVIoQV+jFr/Zuc4O2wCRS6Rnd8w0OJ17C4Oo3PuXu8ZtF" crossorigin="anonymous"></script>
<script>
  function slider() {
    $(document).scrollTop() > 199 ? $("#icon").stop().animate({
      top: "0"
    }) : $("#icon").stop().animate({
      top: "-200%"
    })
  }

  function getPageInfo() {
    var e = window.location.href.split("/hc/");
    return {
      type: (e = e[1].split("-")[1].split("/"))[1],
      id: e[2]
    }
  }
  $(document).ready(function () {
    $('.ui.accordion').accordion();
    $.ajax({
      crossOrigin: true, type: "GET", url: 'https://cors-anywhere.herokuapp.com/https://blog.organicstart.com/rss/', success: function (data) {

        var count = 0;
        $(data).find('item').each(function () {
          $('#recent-posts').append($('<a></a>').attr('class', 'item').attr('href', $(this).find('link').text()).append($(this).find('title').text().substring(0, 45) + '...'));
          count++;
          if (count == 5) {
            return false;
          }
        });
      }
    });


    $(".share a").click(function (e) {
      e.preventDefault(), window.open(this.href, "", "height = 500, width = 500")
    });
    var e = $(".comment-container textarea"),
      t = $(".comment-form-controls, .comment-ccs");
    e.one("focus", function () {
      t.show()
    }), "" !== e.val() && t.show();
    var i = $(".request-container .comment-container .comment-show-container"),
      n = $(".request-container .comment-container .comment-fields"),
      a = $(".request-container .comment-container .request-submit-comment");
    i.on("click", function () {
      i.hide(), n.show(), a.show(), e.focus()
    });
    var s = $(".request-container .mark-as-solved:not([data-disabled])"),
      o = $(".request-container .comment-container input[type=checkbox]"),
      r = $(".request-container .comment-container input[type=submit]");
    s.on("click", function () {
      o.attr("checked", !0), r.prop("disabled", !0), $(this).attr("data-disabled", !0).closest("form").submit()
    });
    var c = $(".request-container .comment-container textarea");

    function l() {
      window.location.search = $.param({
        query: $("#quick-search").val(),
        status: $("#request-status-select").val(),
        organization_id: $("#request-organization-select").val()
      })
    }
    if (c.on("keyup", function () {
      "" !== c.val() ? (s.text(s.data("solve-and-submit-translation")), r.prop("disabled", !1)) : (s.text(s.data("solve-translation")), r.prop("disabled", !0))
    }), "" === c.val() && r.prop("disabled", !0), $("#request-status-select, #request-organization-select").on("change", function () {
      l()
    }), $("#quick-search").on("keypress", function (e) {
      13 === e.which && l()
    }), $(".header .icon-menu").on("click", function (e) {
      e.stopPropagation();
      var t = document.getElementById("user-nav"),
        i = "true" === t.getAttribute("aria-expanded");
      t.setAttribute("aria-expanded", !i)
    }), 0 === $("#user-nav").children().length && $(".header .icon-menu").hide(), $("#request-organization select").on("change", function () {
      this.form.submit()
    }), $(".collapsible-nav, .collapsible-sidebar").on("click", function (e) {
      e.stopPropagation();
      var t = "true" === this.getAttribute("aria-expanded");
      this.setAttribute("aria-expanded", !t)
    }), $(".ui.dropdown").dropdown(), $.get("https://blog.organicstart.com/rss/", function (e) {
      var t = 0;
      $(e).find("item").each(function () {
        if ($("#recent-posts").append($("<a></a>").attr("class", "item").attr("href", $(this).find("link").text()).append($(this).find("title").text().substring(0, 45) + "...")), 5 == ++t) return !1
      })
    }), "requests" == getPageInfo().type && (document.getElementById("section_request").style.display = "none"), $(".back ol.breadcrumbs li:last-child").children().length) {
      var d = $("#title").text();
      $(".back ol.breadcrumbs").append('<li title="' + d + '" class="active"><a href="#">' + d + "</a></li>")
    } else d = $(".back ol.breadcrumbs li:last-child").text(), $(".back ol.breadcrumbs li:last-child").text(""), $(".back ol.breadcrumbs li:last-child").append('<a href="#">' + d + "</a>"), $(".back ol.breadcrumbs li:last-child").addClass("active");
    $("#menuTrigger").click(function () {
      $(".ui.sidebar").sidebar("toggle")
    }), $("#sidebar-close").click(function () {
      $(".ui.sidebar").sidebar("toggle")
    }), $(".pusher.dimmed").click(function (e) {
      e.preventDefault(), $(".ui.sidebar").sidebar("toggle")
    }), $("#subscribe input i").click(function () {
      $("#subscribe").submit()
    });
    var u = function (e) {
      var t, i, n = decodeURIComponent(window.location.search.substring(1)).split("&");
      for (i = 0; i < n.length; i++)
        if ((t = n[i].split("="))[0] === e) return void 0 === t[1] || t[1]
    };
    "/hc/requests" == u("return_to") && (window.location = "https://support.organicstart.com/hc/en-us/requests/new?submit=true"),
      "true" == u("submit") && $("#new_request_done").removeClass("d-none"),
      $.get("https://brainiac.organicstart.com/fb/getinventory").then(x => {

        $("#inventory-key").append('      <div class="inventory-key">        <div class="sold-out item">Sold Out</div>        <div class="selling-out item">Limited</div>        <div class="lowest item">Selling Out</div>        <div class="low item">Low</div>        <div class="enough item">Moderate</div>        <div class="alot item">Sufficient</div>        <div class="full item">Full</div>      </div>      <div class="ui divider"></div>')
        $(x.join("")).appendTo("#inventory");
        console.log(x)


        $(".prog").each(function (e) {
          if ("" != $(this).text().trim())
            if ("divider" == $(this).text().trim()) $("#inventory").append('<div class="ui divider"></div>');
            else {
              var t = $(this).text().split(":");
              if ("title" == t[0]) $("#inventory").append('<h2 class="mb-3">' + t[1] + "</h2>");
              else {
                if (t[1] > 74) var i = "green";
                else i = t[1] > 49 ? "yellow" : t[1] > 24 ? "orange" : "red";
                if ("00-00-0000" != t[2].trim()) {
                  var n = !0,
                    a = t[2].split("-");
                  $.timeago.settings.allowPast = !1, $.timeago.settings.allowFuture = !0;
                  var s = $.timeago(a[2] + "-" + a[0] + "-" + a[1])
                } else n = !1;
                $("#inventory").append('<div class="label"><strong>' + t[0] + "</strong>" + (1 == n ? '<p class="float-right">Restock in about  ' + s.replace("about ", "").replace(" from now", "") + ".</p>" : "") + '</div><div class="ui ' + i + ' indicating progress mt-0" data-percent="' + t[1] + '" id="bar-' + e + '" style="height:100%;"><div class="bar" style="width:' + t[1] + '%!important;min-width:0!important"></div></div>')
              }
            }
        })
      })
  }), $(window).scroll(function () {
    slider(), $(document).scrollTop() > $(".ui.main.menu").height() ? ($(".ui.site.menu").addClass("top"), $(".ui.site.menu").addClass("fixed"), $("body").css("padding-top", "6rem")) : ($(".ui.site.menu").removeClass("top"), $(".ui.site.menu").removeClass("fixed"), $("body").css("padding-top", "0"))
  });
  $(function () {
    if (getPageInfo().id == '115000448613') {
      $('#lacey-nutrition').removeClass('d-none');
    }
    if (getPageInfo().id == '115000941634') {
      $('#lacey-qas').removeClass('d-none');
    } else {
      $('#mainside').removeClass('col-md-6').removeClass('col-lg-8');
    }
    if (getPageInfo().id == '115000447534') {
      $('#lacey-instructions').removeClass('d-none');
    }
    if (getPageInfo().id == '115000448633') {
      $('#lacey-wholesale').removeClass('d-none');
    }
    if (getPageInfo().id == '115000448813') {
      $('#lacey-orders').removeClass('d-none');
    }
  });
  console.log(getPageInfo().id);
</script>

<script type="application/ld+json">
  { 
    "@context" : "http://schema.org",
		"@id": "https://organicstart.com/#organization",
    "@type" : "Organization",
    "name" : "Organic Start",
    "legalName" : "Organic Start Inc.",
    "url" : "https://organicstart.com/",
    "logo" : "https:{{asset 'icon-1000.png'}}",
    "sameAs" : [ 
      "https://www.facebook.com/organicstart",
      "https://twitter.com/organic_start",
      "https://www.instagram.com/organic_start/",
      "https://www.youtube.com/channel/UCFwKUBBsa76Z8shVZWY4xWg",
      "https://plus.google.com/108380805778729206542",
      "https://www.snapchat.com/add/organic_start",
      "https://www.pinterest.com/organicstart/"
    ],
    "contactPoint" : [
      {
          "@type" : "ContactPoint",
          "email" : "support@organicstart.com",
          "telephone" : "+1-800-600-6642",
          "contactType" : "Customer Service",
  				"areaServed": [ "US" ]
      }
  	],
    "address" : [
    	{
        "@type" : "PostalAddress",
        "streetAddress" : "PO BOX 5952",
        "addressLocality" : "Astoria",
        "addressRegion" : "NY",
        "postalCode" : "11105",
        "addressCountry" : [
  				{
        		"@type" : "Country",
        		"name" : "USA"
      		}
  			]
    	}
  	]
  }
</script>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@id": "https://support.organicstart.com/#website",
    "@type" : "WebSite", 
    "name" : "Organic Start Support",
    "url" : "https://support.organicstart.com/",
    "potentialAction" : [{
      "@type" : "SearchAction",
      "target" : [{
        "@type" : "EntryPoint",
        "urlTemplate" : "https://support.organicstart.com/hc/en-us/search?query={search_term}"
      }],
      "query-input" : [{
        "@type" : "PropertyValueSpecification",
        "valueName" : "search_term",
        "valueRequired" : "http://schema.org/True"
      }]
    }]
  }
</script>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@id": "https://support.organicstart.com/#webpage",
		"@type": "WebPage",
		"url": "https://support.organicstart.com/",
		"name": "Organic Start Support"
	}
</script>