{{!-- <div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <div class="section-container">
    <section class="section-content">
      <header class="page-header">
        <h1>
          {{section.name}}
        </h1>
        {{#if settings.show_follow_section}}
          {{subscribe}}
        {{/if}}
        {{#if section.description}}
          <p class="page-header-description">{{section.description}}</p>
        {{/if}}
      </header>

      {{#if section.sections}}
        <ul class="section-list section-list--collapsed">
          {{#each section.sections}}
          <li class="section-list-item">
              <a href="{{url}}">
                <span>{{name}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" aria-hidden="true">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 14.5l6.1-6.1c.2-.2.2-.5 0-.7L5 1.5"/>
                </svg>
              </a>
            </li>
          {{/each}}
          <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger" title="{{t 'see_all_sections'}}">{{t 'see_all_sections'}}</a>
        </ul>
      {{/if}}


      {{#if section.articles}}
        <ul class="article-list">
          {{#each section.articles}}
            <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
              {{#if promoted}}
                <span data-title="{{t 'promoted'}}" class="icon-star"></span>
              {{/if}}
              <a href="{{url}}" class="article-list-link">{{title}}</a>
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <i class="section-empty">
          <a href="{{section.url}}">{{t 'empty'}}</a>
        </i>
      {{/if}}

      {{pagination}}

    </section>
  </div>
</div> --}}

<div class="container" style="max-width:1300px;width:100%;position:relative;">
  <div class="ui divider"></div>
    <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>
  <div class="row">
  	<header class="col-12 col-lg-8 order-2 order-lg-1 align-self-center" id ="section-container">
      <h1 class="ui header">
        {{section.name}}
        {{#if section.internal}}
          <span class="icon-lock" title="{{t 'internal'}}"></span>
        {{/if}}
        {{#if section.description}}
          <div class="sub header">{{section.description}}</div>
        {{/if}}
      </h1>
    </header>
    <aside class="col-12 col-lg-4 order-1 order-lg-1 align-self-center">
      {{search scoped=true submit=false}}
      <div class="ui divider d-lg-none d-xl-none"></div>
    </aside>
  </div>
  <div class="ui divider"></div>
  {{#if section.articles}}
  	<section class="row">
      <div class="section col-12 col-md-6 col-lg-4 d-none" id="lacey-qas">
				<img class="img-fluid mx-auto" src="{{asset 'lacey-qas.png'}}">
      </div>
      <div class="section col-12 col-md-6 col-lg-8" id="mainside">
      	 <div class="ui huge fluid vertical menu">
          {{#each section.articles}}
              {{#if promoted}}
                <span data-title="{{t 'promoted'}}" class="icon-star"></span>
              {{/if}}
              <a href="{{url}}" class="item">{{title}}</a>
          {{/each}}
        </div>
      </div>
  	</section>
  {{else}}
    <div class="ui large icon teal message mt-0">
      <i class="ui info icon"></i>
      <div class="content">
        <div class="header">
          This Section is Currently Empty
        </div>
        <p class="mt-0">Please check back soon as we continue to grow our knowledge base.</p>
      </div>
    </div>
  {{/if}}

  {{pagination}}
  
  {{!-- <div class="back-wrapper">
    <div class="back">
      <a href="#" class="btn-back" onclick="window.history.back()">
        <div>
          <svg width="16px" height="14px" viewBox="0 0 16 14">
            <path d="M1,7 L15,7"></path>
            <polyline points="7 1 1 7 7 13"></polyline>
          </svg>
        </div>
        <span>Back</span>
      </a>
      <div class="menu-back">
        {{breadcrumbs}}
        <!--<ul class="nav-links">
          <li><a href="#">My Account</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Support / Help</a></li>
        </ul>-->
      </div>
    </div>
  </div> --}}
</div>